.headerWrapper {
    display: flex;
    width: 100%;
}

.leftArrow {
    width: 24px;
    cursor: pointer;
    padding: 5px;
    justify-self: flex-start;
}

.header {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-right: 24px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.fileKey {
    width: fit-content;
    cursor: pointer;
    margin: 5px 0;
}
