.date-time-narrow {
    width: 130px !important;
}

.date-time-narrow:focus {
    border-color: #eab800 !important;
    -webkit-box-shadow: 0 0 0 2px rgba(226, 233, 87, 0.2) !important;
    box-shadow: 0 0 0 2px rgba(226, 233, 87, 0.2) !important;
}

.date-time-narrow:hover {
    border-color: #eab800 !important;
}
