.complete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1px 8px;
    width: 83px;
    height: 22px;
    background: #52c41a;
    border-radius: 2px;
}

.incomplete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1px 8px;
    width: 107px;
    height: 22px;
    background: #f5222d;
    border-radius: 2px;
}

.font {
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
}

.questionnaireSummary {
    display: flex;
    margin-bottom: 6px;
}
.title {
    font-weight: 500;
    font-size: 14px;
    width: 320px;
    margin-right: 12px;
    margin-bottom: 6px;
}
